.logo {
  position: relative;
  width: 216px;
  h1 {
    font-family: $fontTitle;
    font-size: 3rem;
    margin: 0 0 30px;
    text-align: center;
    padding-top: 25px;
  }
  .svgIcon {
    width: 100%;
    height: auto;
    max-width: 40px;
    position: absolute;
    left: 20px;
    transform: rotate(7deg);
  }
}
