.logo {
  position: relative;
  width: 216px;
  h1 {
    font-family: $fontTitle;
    font-size: 2rem;
    text-align: left;
    padding-top: 15px;
  }
  .svgIcon {
    width: 100%;
    height: auto;
    max-width: 25px;
    position: absolute;
    left: 5px;
    transform: rotate(7deg);
  }
}
