.mainMenu {
  box-shadow: $boxShadow;
  padding: 10px;
  width: calc( 100% - 20px );
	position: fixed;
	display: flex;
  top: 0;
  left: 0;
  height: 50px;

  &_option {
    display: flex;
    position: relative;

    margin-bottom: 10px;

    button {
      border: 1px solid $backgroundLight;
      font-family: $fontBold;
      font-size: 1.1rem;
      background-color: $backgroundLight;
      padding: 7px;
      display: flex;
      width: 100%;
      cursor: pointer;
      color: $textColor;
      align-items: center;

      &.active {
        background-color: #fff;
        color: $backgroundDisable;
        border: 1px solid $backgroundDisable;
      }

      &::after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background-color: #fff;
        align-self: center;
        margin-left: auto;
      }

      &.active::after {
        background-color: $backgroundDisable;
      }

      svg.svgIcon {
        width: 40px;
        height: auto;
        margin: 3px 15px 0 0;
        fill: $textColor;
      }

      &.active svg.svgIcon {
        fill: $backgroundDisable;
      }
    }
  }
}
