/* TEXT */
$fontSize: 16px;

$fontRegular: 'assistant-regular';
$fontBold: 'assistant-extra';

$fontTitle: 'caveat-bold';

/* COLORS */
$textColor: #0a3969;
$linkColor: #c30d0d;

/* BACKGROUNDS */
$boxShadow: 0 0 4px rgba(0, 0, 0, 0.35);
$backgroundLight: #c0e7ef;
$backgroundDisable: #eaeaea;
